.home {
    margin-top: -38px;
    background-color: #007bff;
    display: flex;
    width:fit-content;
    margin-left: 20px;
    padding:5px 10px;
    border-radius: 3px;
    }
    .home a {
        text-decoration: none;
        color:#fff;
        
    }